[user]
	name = Arush Salil
	email = me@aru.sh
	signingkey = 71C05F21AB93A5C529F38C54219BFC0B338968AB
[core]
	editor = vim
[commit]
	gpgsign = true
[push]
	default = matching
[alias]
	yolo = !git commit -s -m \"$(curl -s whatthecommit.com/index.txt)\"
	yolo-amend = !git commit --amend -s -m \"$(curl -s whatthecommit.com/index.txt)\"
