[user]
	name = Arush Salil
	email = me@aru.sh
	signingkey = 219BFC0B338968AB
[core]
	editor = vim
[commit]
	gpgsign = true
[push]
	default = matching
[alias]
	yolo = !git commit -s -m \"$(curl -sL whatthecommit.com/index.txt)\"
	yolo-amend = !git commit --amend -s -m \"$(curl -sL whatthecommit.com/index.txt)\"
[pull]
	ff = only
[credential]
	helper = store
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master
